name: Build DLL

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Build Solution
      run: msbuild StellaSora-Tool.sln /p:Configuration=Release /p:Platform=x64

    - name: Upload DLL Artifact
      uses: actions/upload-artifact@v4
      with:
        name: StellaSora-Tool-Release-x64
        path: bin/Release-x64/*.dll
